* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline-style: none;
	outline: none;
	border: none;
	font-size: 20px;

	scroll-behavior: smooth;
}

body {
	--font-text: "Open Sans";
	--font-title: "Sofia Sans";
	font-family: var(--font-text), sans-serif;

	background: #fff;
	color: #101010;
}

a {
	color: #101010;
}



header {
	width: 100%;

	margin-top: 61px;
	padding: 0 80px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background: #fff;
}

header img {
	height: 100%;
}

#header-ul {
	display: flex;
	gap: 32px;
}

#header-ul li input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#header-ul li input[type="radio"] + label {
	color: #96a0b5;
	cursor: pointer;
	font-size: 16px;
}

#header-ul li input[type="radio"]:checked + label {
	font-weight: 500;
	color: #101010;
}

#nav-contet {
	width: 100%;
	z-index: 50;
	background-color: #fff;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#side-bar {
	display: none;
	width: 60px;
	height: 40px;

	position: relative;
	cursor: pointer;

	top: 30px;

	position: fixed;
}

.line-side-bar {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	width: 100%;
	height: 3px;
	border-radius: 3px;

	background: #0c0a0a;
}

.line-side-bar:nth-child(1) {
	top: 0;
}
.line-side-bar:nth-child(2) {
}
.line-side-bar:nth-child(3) {
	top: 100%;
}

header span a {
	font-family: var(--font-text);

	border: 1px solid;
	border-radius: 25px;

	padding: 13px 25px;

	transition: color 0.3s, background 0.3s;
}

header span a:hover {
	background: #101010;
	border: 1px solid #fff;
	color: #fff;
}

main {
	margin-top: 79px;
	width: 100%;

	display: flex;
	flex-direction: column;

	gap: 100px;
}
#quem-somos {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
#container-quem-somos {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 32px;

	height: auto;

	padding: 0 80px;
}

#container-quem-somos h1 {
	font-size: 80px;
	grid-column: 3 span;
}
#container-quem-somos div {
	grid-column: 2 span;
}

.between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	gap: 10px;

	height: 100%;
	min-height: 150px;
}
.buttom-to-right {
	padding: 13px 25px;
	display: flex;
	align-items: center;

	gap: 10px;

	width: fit-content;

	color: #fff;

	background-color: #0c0a0a;

	border-radius: 50px;
}

.buttom-to-right:hover {
	animation: to-right 1s infinite;
}

#carousel-quem-somos {
	position: relative;
}

.scroll-x {
	z-index: 2;

	position: absolute;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	gap: 24px;
}
.scroll {
	cursor: pointer;

	width: 48px;
	height: 48px;

	background: #ffffff33;

	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: all 0.2s;
}

.scroll svg:nth-child(2) {
	display: none;
}

.scroll:hover {
	background: #fff;
}

.scroll:hover svg:nth-child(1) {
	display: none;
}

.scroll:hover svg:nth-child(2) {
	display: block;
}

#container {
	display: flex;
	gap: 24px;

	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.container::-webkit-scrollbar {
	display: none;
}

.item {
	scroll-snap-align: start;
	flex: none;

	position: relative;
}
.item img {
	height: 583px;
	user-select: none;
}
.item span {
	position: absolute;
	width: 80%;
	bottom: 36px;
	left: 0;

	font-size: 16px;
	padding: 0 108px;

	color: #d9d9d9;
}
h2 {
	font-size: 60px;
}
h3 {
	color: #96a0b5;
}
#servicos {
	padding: 0 80px;

	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 24px;
}
#conheca {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	gap: 24px;
}
.container-conheca {
	height: 500px;
	flex: 0 0 auto;
}
.maior {
	grid-row: 2 span;
	grid-column: 1 span;

	position: relative;
}

.menor {
	grid-column: 1 span;
	grid-row: 1 span;

	overflow: hidden;

	height: 100%;

	position: relative;
}

.primeiro {
	background: #01737f;
}
.segundo {
	background: #031356;
	display: flex;
	flex-direction: row-reverse;
}
.maior img,
.menor img {
	height: 100%;
	width: 100%;

	object-fit: cover;
}
.menor img {
	width: 35%;
}
.over-image {
	position: absolute;
	left: 0;
	bottom: 0;

	height: 45%;

	display: flex;
	flex-direction: column;
	justify-content: end;

	gap: 12px;

	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) -15.5%,
		#0c0a0a 117.36%
	);
	padding: 24px;
}
.over-image-menor {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 65%;

	display: flex;
	flex-direction: column;
	justify-content: end;

	gap: 12px;

	padding: 24px;
}
.over-image span,
.over-image-menor span {
	color: #fff;
	font-size: 24px;
}
.over-image p,
.over-image-menor p {
	color: #d9d9d9;
	font-size: 12px;
}
.segundo .over-image-menor:last-child {
	left: 0;
}

#novidades {
	width: 100%;

	background: #0c0a0a;

	position: relative;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	gap: 60px;

	padding: 80px 0;
}

#nov-container {
	display: flex;
	gap: 24px;

	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	-ms-overflow-style: none;
	scrollbar-width: none;

	padding-left: 80px;
}
.card {
	flex: none;

	width: 361px;

	display: flex;
	flex-direction: column;

	gap: 24px;

	border: 1px solid #4f4a4aaa;

	padding: 24px;
}
.card img {
	height: 227px;
	user-select: none;
}

.card article {
	display: flex;
	flex-direction: column;

	gap: 24px;
}

.card span {
	color: #fff;

	font-size: 24px;

	width: 100%;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card p {
	color: #96a0b5;
	font-size: 16px;
}
#novidades .title-white {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	gap: 12px;

	padding: 0 80px;
	padding-bottom: 0;
}
.title-white div {
	max-width: 700px;
}
.title-white h2 {
	color: #fff;
}

.title-white p {
	color: #96a0b5;
}
.nov-scroll-x {
	z-index: 2;

	display: flex;
	justify-content: end;

	gap: 24px;
}

#nossos-servicos {
	padding: 0 80px;
	display: flex;
	flex-direction: column;

	gap: 40px;
}
.line {
	width: 100%;
	height: 1px;
	background: #adabab;

	display: block;
}
#nos-localizacao {
	display: flex;
	flex-direction: column;

	gap: 82px;
}
#nos-localizacao article {
	display: flex;
	gap: 60px;

	flex-wrap: wrap;
}
.nos-img {
	max-height: 300px;
	max-width: 500px;
	object-fit: cover;
}
#nos-localizacao article div {
	width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#nos-localizacao span {
	color: #101010;
	font-size: 30px;
}
.conheca-link {
	border: 1px solid #0c0a0a;
	border-radius: 50px;
	padding: 10px 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	width: fit-content;

	position: relative;

	overflow: hidden;
}
.conheca-link:hover {
	color: #fcfafa;
}

.conheca-link::before {
	z-index: -1;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0%;

	background: #0c0a0a;

	transition: width 0.2s;
}
.conheca-link:hover::before {
	width: 100%;
}
.conheca-link svg:nth-child(2) {
	display: none;
}
.conheca-link:hover svg:nth-child(2) {
	display: block;
}
.conheca-link:hover svg:nth-child(1) {
	display: none;
}

footer {
	padding: 80px;

	margin-top: 80px;
	width: 100%;

	background: #0c0a0a;

	display: flex;
	flex-direction: column;

	gap: 35px;
}
footer .title-white {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer * {
	color: #96a0b5;
}

footer .title-white h2 {
	max-width: 550px;
}
footer .title-white p {
	max-width: 550px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.white-conheca-link {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50px;
	padding: 10px 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	width: fit-content;

	position: relative;

	overflow: hidden;

	transition: background 0.3s;
}
.white-conheca-link:hover {
	color: #0c0a0a;
	background: #fff;
}

.white-conheca-link svg {
	transition: display 0.3s;
}
.white-conheca-link svg:nth-child(2) {
	display: none;
}
.white-conheca-link:hover svg:nth-child(2) {
	display: block;
}
.white-conheca-link:hover svg:nth-child(1) {
	display: none;
}
#info-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.info-gap {
	display: flex;
	flex-direction: column;

	gap: 24px;
}
#info-soul {
	display: flex;
	flex-direction: column;

	gap: 24px;

	max-width: 342px;
}
#info-soul img {
	width: 135px;
}
#info-container {
	display: flex;
	flex-wrap: wrap;
	gap: 90px;
}
#info-container span {
	font-size: 24px;
	color: #fff;
}
.info-content {
	display: flex;
	flex-direction: column;
	gap: 21px;
}
#rodape {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	position: relative;

	height: fit-content;
}
#rodape span {
	font-size: 16px;
}
#rodape img {
	position: absolute;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);

	flex: 0;
	height: 53px;
}
#icons {
	display: flex;
	gap: 18px;
}
.icon {
	width: 34px;
	height: 34px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px dashed #96a0b5;
	border-radius: 100%;
}

/* media query */
@media only screen and (max-width: 1300px) {
	header,
	#container-quem-somos {
		padding: 0 20px;
	}
	header img {
		height: 50px;
	}
	#container-quem-somos h1 {
		font-size: 40px;
		grid-column: 5 span;
	}
	h2 {
		font-size: 30px;
	}

	#container-quem-somos div {
		grid-column: 5 span;
	}
	#home {
		display: flex;
		justify-content: end;

		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		z-index: 50;

		
		padding-top: 61px;
		margin: 0;

	}
	#nav-contet {
		z-index: 50;
		background-color: #fff;

		position: fixed;
		top: 0;
		left: 0;

		height: 100vh;
		width: 0%;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		gap: 44px;

		
	}

	#header-ul {
		flex-direction: column;
		align-items: center;
	}
	#side-bar,
	.line-side-bar {
		display: block;
		z-index: 51;
	}
	#servicos {
		padding: 0 20px;
	}
	.container-conheca:first-child {
		grid-column: 2 span;
	}

	.container-conheca:nth-child(2),
	.container-conheca:nth-child(3) {
		grid-column: 2 span;
	}
	#novidades {
		gap: 0;
	}

	#novidades .title-white {
		padding: 20px;
		padding-top: 80px;
	}
	#nov-container {
		padding-left: 20px;
	}
	#localizacao,
	#nossos-servicos {
		gap: 10px;
		padding: 20px;
	}

	#nos-localizacao article {
		gap: 10px;
	}

	footer {
		padding: 20px;
	}

	footer .title-white p {
		gap: 24px;
	}
	#info-footer {
		justify-content: center;
		gap: 24px;
	}
	#info-container {
		justify-content: center;
		gap: 44px;
	}
	#rodape {
		flex-direction: column;
		justify-content: center;
		align-items: center;

		gap: 130px;
	}
	#rodape img {
		display: block;
	}
}
@media only screen and (max-width: 1060px) {
	.item img {
		height: 300px;
	}

	.item span {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		line-height: 1.2;
		text-overflow: ellipsis;
		font-size: 12px;
	}

	#nos-localizacao article {
		justify-content: center;
	}
	#nos-localizacao article div {
		width: 80%;
		gap: 24px;
	}

	footer .title-white {
		justify-content: center;
		gap: 24px;
	}
	.nos-img {
		width: 100%;
	}
}

/* keyframes */

@keyframes to-right {
	0% {
		padding-left: 25px;
	}
	50% {
		padding-left: 30px;
	}
	100% {
		padding-left: 25px;
	}
}
